[defaults]
inventory = hosts.ini
remote_user = ubuntu
host_key_checking = True

[ssh-connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=5m -o IdentitiesOnly=yes -o StrictHostKeyChecking=accept-new
pipelining = True